body {
    width: 100%;
    height: 100%;
}

.floor{
    width: 100px;
    height: 100px;
    background: #96f9ff;
    border: 1px solid black;
    display: block;
}

.waiting-area{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: block;
}

.controls{
    text-align: center;
    margin-top: 5vh;
    padding: 3vh;
}

.floor-button{
   
}

.floor-selector{
    text-align: center;
    margin-top: 3vh;
}

.active{
    background: #20b4bc;
}

.selected{
    background: #FFCC64;
    border: 3px solid #C68500;
    opacity: 0.5;
    cursor: not-allowed;
}

.person{
    position: relative;
}

button {
    margin: 2px;
    width: 5vw;
    border: 3px solid #000000;
}

.moving{
    border-right: 5px solid #5377D2;
}

.people {
    position: relative;
}

.people-container{
    position: absolute;
    bottom: 0px;
}

.person{
    margin: 0 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFCC64;
    border: 1px solid #C68500;
}
